__pycache__/analysis.cpython-312.pyc
__pycache__/custom_indicators.cpython-312.pyc
__pycache__/flexible_analysis.cpython-312.pyc
__pycache__/flexible_spider_plot.cpython-312.pyc
__pycache__/influence_matrix.cpython-312.pyc
__pycache__/flexible_ranking.cpython-312.pyc
__pycache__/intro.cpython-312.pyc
__pycache__/ranking.cpython-312.pyc
__pycache__/spider_plot.cpython-312.pyc
__pycache__/data.cpython-312.pyc
__pycache__/data_collector.cpython-312.pyc
